<div class="flex justify-center items-center gap-4 my-2" id="follow-count-<%= @user.id %>">
  <%= link_to following_user_path(@user), data: { turbo_frame: "remote_modal" } do %>
    <%= @user.following.count %>フォロ－
  <% end %>
  <%= link_to followers_user_path(@user), data: { turbo_frame: "remote_modal" } do %>
    <%= @user.followers.count %>フォロワー
  <% end %>
</div>