<div data-controller="loading">
  <%= render "shared/loading" %>
  <div class="container mx-auto w-full sm:w-[540px] px-10 py-5">
    <h1 class="text-[24px] sm:text-5xl font-bold text-center mb-10">設定変更</h1>

    <%= form_with model: @user, url: update_password_users_path do |f| %>
      <%= render "devise/shared/error_messages", resource: current_user %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered form-control mb-6 w-full mx-auto mt-2" %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, :autocomplete => "off", class: "input input-bordered form-control mb-6 w-full mx-auto mt-2"  %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "input input-bordered form-control mb-6 w-full mx-auto mt-2" %>
      </div>
      <div class="field">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, class: "input input-bordered form-control mb-6 w-full mx-auto mt-2" %>
      </div>
      <div class="action_container">
        <%= f.submit nil, class: "btn btn-secondary mb-6 w-full mx-auto mt-2", data: { action: "click->loading#show" } %>
      </div>
    <% end %>
  </div>
</div>