<section class="overflow-hidden">
  <div class="container px-5 py-10 mx-auto">
    <%= render "profile_header" %>
    <div class="w-full mx-auto mt-5">
      <%= render "profile_tab" %>
    </div>
    <%= turbo_frame_tag "profile_tabs" do %>
      <% if turbo_frame_request? %>
        <%= turbo_frame_tag "show_collection" do %>
          <div class="flex flex-wrap justify-center items-center p-5 gap-5">
            <% if @reviews.present? %>
              <%= render partial: 'reviews/review', collection: @reviews %>
            <% else %>
              <div><%= t('users.show.review_not_found') %></div>
            <% end %>
          </div>
          <%= render "shared/load_more_button" %>
        <% end %>
      <% else %>
        <%= turbo_frame_tag "show_collection", src: user_path(@user) do %>
          <div class="flex flex-wrap justify-center items-center p-5 gap-5">
            <%= render "shared/skeleton_card" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= turbo_frame_tag "remote_modal" %>
</section>
