<div class="container mx-auto px-5 py-5">
  <div class="flex flex-wrap justify-center items-center h-[140px] sm:h-[270px]">
    <%= image_tag "irographica-biglogo.png", class: "h-[270px] w-[720px] object-contain sm:object-cover flex-1 hidden sm:block" %>
    <%= image_tag "mobile_logo.png", class: "h-[140px] object-cover flex-1 sm:hidden" %>
    <div class="text-center text-2xl flex-1 tracking-wider hidden sm:block">
      <%= simple_format(t('home.copywriting')) %>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center gap-2 sm:gap-4 pt-2">
    <p><%= t('search.category') %></p>
    <% @category.each do |c| %>
      <%= link_to c.color, search_products_path(c: c.id), class: "link" %>
    <% end %>
  </div>
  <div class="flex justify-center items-center pt-2 mb-2 sm:mb-10">
    <%= link_to "メーカーから探す", brands_path, class: "link" %>
  </div>
  <h1 class="text-2xl sm:text-5xl font-bold text-center sm:mb-10 tracking-wider"><%= t('home.see_review') %></h1>
  <%= turbo_frame_tag "reviews", src: reviews_path, loading: :lazy do %>
    <%= render "shared/skeleton_card" %>
  <% end %>
</div>
