<div class="container mx-auto px-5 py-5">
  <div class="flex justify-center items-center h-[270px]">
    <p class="text-9xl font-serif">iro<span class="text-[#9CACDC]">G</span>raphica</p>
    <!-- ロゴを作り直したら再使用
    <%= image_tag "banner5.png", class: "h-[270px] w-[720px] object-scale-down flex-1" %>
    -->
    <div class="text-center text-2xl flex-1 tracking-wider">
      <p><%= simple_format(t('home.copywriting')) %></p>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center gap-4 mt-2 mb-10">
    <p><%= t('search.category') %></p>
    <% @category.each do |c| %>
      <%= link_to c.color, search_products_path(c: c.id), class: "link" %>
    <% end %>
  </div>
  <h1 class="text-5xl font-bold text-center mb-10 tracking-wider"><%= t('home.see_review') %></h1>
  <div class="flex flex-wrap justify-center items-center p-5 gap-5">
    <% if @reviews.present? %>
      <%= render partial: 'reviews/review', collection: @reviews %>
    <% else %>
      <div class="tracking-wider"><%= t('reviews.index.without_review') %></div>
    <% end %>
  </div>
</div>