<div class="container mx-auto px-5 py-5">
  <div class="flex flex-wrap justify-center items-center h-[270px]">
    <%= image_tag "irographica-biglogo.png", class: "h-[270px] w-[370px] sm:w-[720px] object-contain sm:object-cover flex-1" %>
    <div class="text-center text-2xl flex-1 tracking-wider">
      <%= simple_format(t('home.copywriting')) %>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center gap-4 pt-32 sm:pt-2 mb-10">
    <p><%= t('search.category') %></p>
    <% @category.each do |c| %>
      <%= link_to c.color, search_products_path(c: c.id), class: "link" %>
    <% end %>
  </div>
  <h1 class="text-[32px] sm:text-5xl font-bold text-center mb-10 tracking-wider"><%= t('home.see_review') %></h1>
  <%= turbo_frame_tag "reviews", src: reviews_path, loading: :lazy do %>
    <div class="flex flex-wrap justify-center items-center p-5 gap-5">
      <% 10.times do %>
        <div class="card sm:card-side m-4 shadow">
          <div class="px-10 sm:px-4 py-4 sm:relative">
            <div class="skeleton h-[170px] w-[170px]"></div>
            <div class="card-actions sm:justify-end mt-1">
              <div class="skeleton h-4 w-20"></div>
            </div>
          </div>
          <div class="card-body gap-2 flex-shrink-0 w-[250px] sm:w-[340px] p-4">
            <div class="card-title overflow-hidden mb-1 justify-between">
              <div class="skeleton h-4 w-full"></div>
              <div class="skeleton h-8 w-8 shrink-0 rounded-full"></div>
            </div>
            <div class="skeleton h-4 w-28"></div>
            <div class="skeleton h-4 w-28"></div>
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
            <div class="card-actions justify-end">
              <div class="skeleton h-[32px] w-[84px]"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>