<div class="card sm:card-side bg-base-100 w-96 shadow">
  <% if product.imageUrl.present? %>
    <figure class="px-10 pt-2 sm:pb-10">
      <%= image_tag product.imageUrl %>
    </figure>
  <% end %>
  <div class="card-body pt-2 pb-5 sm:pt-10 sm:pb-10">
    <p class="text-[#959595]"><%= product.brand.name %></p>
    <h2 class="card-title"><%= product.name %></h2>
    <% if request.path.include?("search") %>
      <div class="card-actions justify-end">
        <%= link_to t('product.index.show_product'), product_path(product, latest: true), class: "btn btn-sm btn-primary", data: { turbo_frame: "_top" } %>
      </div>
    <% else %>
      <form method="dialog">
        <div class="card-actions justify-end">
          <button class="btn btn-primary" data-action="click->product#select" data-name="<%= product.name %>"><%= t('product.index.select_product') %></button>
        </div>
      </form>
    <% end %>
  </div>
</div>
