<div data-controller="product">
  <%= form_with(model: review, class: "w-full max-w-lg") do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :title, class: "px-3" %>
        <%= f.text_field :title, class: "input input-bordered form-control w-full mx-auto pl-2 text-base" %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :images, class: "px-3" %><%= t('reviews.form.number_of_images') %>
        <%= f.file_field :images, accept: "image/jpeg,image/png", class: "file-input file-input-bordered w-full mx-auto", multiple: true, include_hidden: false %>
        <% if @review.images.attached? %>
          <div class="flex mx-2 mt-2 gap-[24px]">
            <% @review.images.each do |image| %>
              <div class ="flex flex-col items-center justify-center">
                <%= image_tag image, class: "lg:w-[80px] w-full lg:h-[80px] h-64 object-cover object-center" %>
                <%=link_to review_attachment_path(@review.id, image.id), data: { turbo_method: :delete } do %>
                  <i class="fa-regular fa-circle-xmark"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :body, class: "px-3" %>
        <%= f.text_area :body, class: "textarea textarea-bordered textarea-lg resize-none form-control h-[200px] w-full mx-auto pl-2 pt-1 text-base" %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :product_name, class: "px-3" %>
        <%= f.text_field :product_name, value: @review.product&.name, class: "input input-bordered form-control mb-2 w-full mx-auto pl-2 text-base", data: { product_target: "name" } %>
      </div>
      <div class="w-full px-3">
        <%= link_to t('reviews.form.select_product'), products_path, class: "btn btn-primary w-full mx-auto", data: { turbo_frame: "remote_modal" } %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= f.label :paper, class: "px-3" %>
        <%= f.text_field :paper, class: "input input-bordered form-control mb-6 w-full mx-auto pl-2 text-base" %>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <%= f.label :pen, class: "px-3" %>
        <%= f.text_field :pen, class: "input input-bordered form-control mb-6 w-full mx-auto pl-2 text-base" %>
      </div>
    </div>
    <%= f.submit nil, class: "btn btn-secondary w-full mx-auto mt-2" %>
  <% end %>
  <%= turbo_frame_tag "remote_modal" %>
</div>