<div data-controller="product">
  <%= form_with(model: review, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, class: "w-full max-w-lg") do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :title, class: "px-3" %>
        <%= f.text_field :title, class: "input input-bordered form-control w-full mx-auto pl-2 text-base" %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :images, class: "px-3" %><%= t('reviews.form.number_of_images') %>
        <%= f.file_field :images, accept: "image/jpeg,image/png", class: "file-input file-input-bordered w-full mx-auto", multiple: true, include_hidden: false %>
        <% if @review.images.attached? %>
          <div class="flex mx-2 mt-2 gap-[24px] items-center justify-center">
            <% @review.images.each do |image| %>
              <div class ="flex flex-col items-center justify-center">
                <%= image_tag image, class: "w-[60px] sm:w-[80px] h-[60px] sm:h-[80px] object-fill object-center" %>
                <%=link_to review_attachment_path(@review.id, image.id), data: { turbo_method: :delete } do %>
                  <i class="fa-regular fa-circle-xmark"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :body, class: "px-3" %>
        <%= f.text_area :body, class: "textarea textarea-bordered textarea-lg resize-none form-control h-[200px] w-full mx-auto pl-2 pt-1 text-base" %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full px-3">
        <%= f.label :product_name, class: "px-3" %>
        <div data-controller="autocomplete" data-autocomplete-query-param-value="product_name" autocomplete-delay-value="100" data-autocomplete-min-length-value="3" data-autocomplete-url-value="<%= autocomplete_products_path %>" role="combobox">
          <%= f.text_field :product_name, value: @review.product&.name, class: "input input-bordered form-control mb-2 w-full mx-auto pl-2 text-base", data: { product_target: "name", autocomplete_target: "input", nested_form_target: "name", action: "change->nested-form#openRecipe" } %>
          <%= f.hidden_field :id, data: { autocomplete_target: 'hidden' } %>
          <ul class="list-group bg-base-100 absolute rounded-box z-[1] w-70 h-80 p-2 shadow overflow-y-auto overflow-x-hidden" data-autocomplete-target="results"></ul>
        </div>
      </div>
      <div class="w-full px-3">
        <%= link_to t('reviews.form.select_product'), products_path, class: "btn btn-primary w-full mx-auto mb-2", data: { turbo_frame: "remote_modal" } %>
      </div>
      <div class="w-full px-3 hidden" data-nested-form-target="recipe">
        <%= f.label "インクレシピ", class: "px-3" %>
        <template data-nested-form-target="template">
          <%= f.fields_for :ink_recipes, @review.ink_recipes, child_index: 'NEW_RECORD' do |ink_recipe_fields| %>
            <%= render "ink_recipes/recipe_form", f: ink_recipe_fields %>
          <% end %>
        </template>

        <%= f.fields_for :ink_recipes, @review.ink_recipes do |ink_recipe_fields| %>
          <%= render "ink_recipes/recipe_form", f: ink_recipe_fields %>
        <% end %>
        <div data-nested-form-target="target"></div>
        <%= button_tag "インクレシピを追加する", data: { action: "nested-form#add" }, type: "button", class: "btn btn-primary w-full mx-auto" %>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= f.label :paper, class: "px-3" %>
        <%= f.text_field :paper, class: "input input-bordered form-control mb-6 w-full mx-auto pl-2 text-base" %>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <%= f.label :pen, class: "px-3" %>
        <%= f.text_field :pen, class: "input input-bordered form-control mb-6 w-full mx-auto pl-2 text-base" %>
      </div>
    </div>
    <%= f.submit nil, class: "btn btn-secondary w-full mx-auto mt-2" %>
  <% end %>
  <%= turbo_frame_tag "remote_modal" %>
</div>