<div class="card card-side m-4 shadow" id="review-<%= review.id %>">
  <div class="px-4 py-4 relative">
    <% if review.images.attached? %>
      <%= image_tag review.images[0].variant(resize_to_limit: [170, 170]).processed, class: "h-[170px] w-[170px] rounded-lg" %>
    <% else %>
      <%= image_tag 'kkrn_icon_shashin_3.png', class: "h-[170px] w-[170px] rounded-lg" %>
    <% end %>
    <% if review.images.count > 1 %>
      <div class=" bg-black bg-opacity-50 absolute top-4 right-4 rounded-tr-lg rounded-bl-lg px-2">
        <p class="text-white"><i class="fa-solid fa-images"></i> <%= review.images.count %></p>
      </div>
    <% end %>
    <!-- いいね・ブックマーク・Xシェア機能実装後に使う部分
    <div class="card-actions justify-end">
      <i class="fa-regular fa-heart"></i>
      <i class="fa-regular fa-bookmark"></i>
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    -->
  </div>
  <div class="card-body gap-0 flex-shrink-0 w-[340px] px-4 py-4">
    <h2 class="card-title overflow-hidden mb-1 text-lg font-bold text-ellipsis whitespace-nowrap"><%= review.title %></h2>
    <div class="text-sm"><%= review.product.name %></div>
    <div class="text-sm"><%= review.product.brand.name %></div>
    <div Class="overflow-hidden my-2 text-ellipsis line-clamp-3 whitespace-pre-wrap h-[72px]"><%= review.body %></div>
    <div class="text-xs text-[#959595]"><%= review.paper %></div>
    <div class="text-xs text-[#959595]"><%= review.pen %></div>
    <div class="card-actions justify-end">
      <%= link_to t('reviews.index.show_review'), review_path(review), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>