<div class="card sm:card-side m-4 shadow" id="review-<%= review.id %>">
  <div class="px-10 sm:px-4 pt-4 sm:py-4 sm:relative">
    <% if review.images.attached? %>
      <%= image_tag review.images[0], class: "h-[170px] w-[170px] rounded-lg" %>
    <% else %>
      <%= image_tag 'kkrn_icon_shashin_3.png', class: "h-[170px] w-[170px] rounded-lg object-fit" %>
    <% end %>
    <% if review.images.count > 1 %>
      <div class=" bg-black bg-opacity-50 absolute top-4 right-10 sm:right-4 rounded-tr-lg rounded-bl-lg px-2">
        <p class="text-white"><i class="fa-solid fa-images"></i> <%= review.images.count %></p>
      </div>
    <% end %>
    <div class="card-actions sm:justify-end mt-1">
      <div class="flex gap-2">
        <%= link_to "https://twitter.com/share?url=#{post_review_url(review)}&text=【#{review.title}】%0a#{review.product.brand.name}%20#{review.product.name}のレビューをシェア%0a%0a%23インク沼%20%23iroGraphica%0a", title: "Xでシェア", target: :_blank, rel: "noopener noreferrer nofollow" do %>
          <i class="fa-brands fa-square-x-twitter text-[22px]"></i>
        <% end %>
        <%= render "reviews/bookmark_btn", review: review %>
        <%= render "reviews/like_btn", review: review %>
      </div>
    </div>
  </div>
  <div class="card-body gap-0 flex-shrink-0 w-[250px] sm:w-[340px] px-4 py-2 sm:p-4">
    <div class="card-title overflow-hidden mb-1 justify-between">
      <span class="w-3/4 text-[24px] font-bold text-ellipsis line-clamp-1"><%= review.title %></span>
      <% if review.user.avatar.attached? %>
        <%= image_tag review.user.avatar, class: "w-8 rounded-full border-[2px] border-gray-200" %>
      <% else %>
        <%= image_tag 'kkrn_icon_user_1.png', class: "w-8 rounded-full border-[2px] border-gray-200" %>
      <% end %>
    </div>
    <div class="text-sm"><%= review.product.name %></div>
    <div class="text-sm"><%= review.product.brand.name %></div>
    <div Class="overflow-hidden my-2 text-ellipsis line-clamp-3 whitespace-pre-wrap h-[72px]"><%= review.body %></div>
    <div class="text-xs text-[#959595]"><%= review.paper %>　<%= review.pen %></div>
    <div class="card-actions justify-end">
      <%= link_to t('reviews.index.show_review'), review_path(review), class: "btn btn-sm btn-primary", data: { turbo_frame: "_top" } %>
    </div>
  </div>
</div>
