<div class="card card-side m-4 shadow" id="review-<%= review.id %>">
  <div class="px-4 py-4 relative">
    <% if review.images.attached? %>
      <%= image_tag review.images[0].variant(resize_to_limit: [170, 170]).processed, class: "h-[170px] w-[170px] rounded-lg" %>
    <% else %>
      <%= image_tag 'kkrn_icon_shashin_3.png', class: "h-[170px] w-[170px] rounded-lg" %>
    <% end %>
    <% if review.images.count > 1 %>
      <div class=" bg-black bg-opacity-50 absolute top-4 right-4 rounded-tr-lg rounded-bl-lg px-2">
        <p class="text-white"><i class="fa-solid fa-images"></i> <%= review.images.count %></p>
      </div>
    <% end %>
    <div class="card-actions justify-end mt-1">
    <!-- いいね・ブックマーク・Xシェア機能実装後に使う部分
      <i class="fa-regular fa-heart"></i>
      <i class="fa-regular fa-bookmark"></i>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-hashtags="インク沼" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    -->
      <%= link_to "https://twitter.com/share?url=#{post_review_url(review)}&text=#{review.product.brand.name}%20#{review.product.name}をレビュー！%0a%0a#{review.title}&hashtags=インク沼", title: "Xでシェア" do %>
        <i class="fa-brands fa-square-x-twitter text-[24px]"></i>
      <% end %>
    </div>
  </div>
  <div class="card-body gap-0 flex-shrink-0 w-[340px] p-4">
    <h2 class="card-title overflow-hidden mb-1 text-lg font-bold text-ellipsis whitespace-nowrap"><%= review.title %></h2>
    <div class="text-sm"><%= review.product.name %></div>
    <div class="text-sm"><%= review.product.brand.name %></div>
    <div Class="overflow-hidden my-2 text-ellipsis line-clamp-3 whitespace-pre-wrap h-[72px]"><%= review.body %></div>
    <div class="text-xs text-[#959595]"><%= review.paper %></div>
    <div class="text-xs text-[#959595]"><%= review.pen %></div>
    <div class="card-actions justify-end">
      <%= link_to t('reviews.index.show_review'), review_path(review), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>