<div class="container mx-auto w-full px-10 py-5">
  <%= render 'shared/search_tab' %>
  <%= turbo_frame_tag "search_reviews" do %>
    <div class="flex flex-wrap justify-center items-center p-5 gap-5">
      <% if @reviews.present? %>
        <%= render @reviews %>
      <% else %>
        <div><%= t('reviews.index.without_review') %></div>
      <% end %>
    </div>
    <%= render "shared/load_more_button" %>
  <% end %>
</div>