<nav class="grid-flow-col gap-4">
  <%= link_to t('footer.contact'), contact_path %>
  <%= link_to t('footer.term'), term_path %>
  <%= link_to t('footer.privacy_policy'), privacy_policy_path %>
  <%= link_to "iroGraphicaについて", guide_path %>
  <% if current_user&.admin? %>
    <%= link_to t('footer.admin'), admin_root_path %>
  <% end %>
</nav>

<aside class="grid-flow-col items-center justify-self-end">
    <p>© 2025 iroGraphica.</p>
</aside>